body{
  background: url("./background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
img{
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin-top: 10px;
  box-shadow: 5px 5px 5px lightgoldenrodyellow;
  opacity: 0.2;
}


.main{
  display: flex;
  justify-content: space-evenly;
  border: 5px solid rgb(104, 190, 255);
  background: linear-gradient(rgb(255, 255, 255),rgb(185, 185, 185),rgb(99, 169, 249));
  border-radius: 15% 15% 15% 15%;
}


h3{
  text-align: center;
  font-size: xx-large;
  font-family:'Courier New', Courier, monospace;
  color: rgb(11, 11, 11);
}


h1{
  margin-bottom: 100px;
  color: white;
  text-shadow: 5px 5px 5px rgb(220, 83, 83);
}


img:hover{
  opacity: 1;
}